rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso total para el prototipado y modo demo
    // En producción, estas reglas deben ser restringidas a usuarios autenticados y roles específicos.
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}